[submodule "proj"]
	path = proj
	url = https://github.com/OSGeo/PROJ.git
	branch = 6.3
[submodule "geos"]
	path = geos
	url = https://github.com/libgeos/geos.git
	branch = 3.12
[submodule "cgal"]
	path = cgal
	url = https://github.com/CGAL/cgal.git
[submodule "sfcgal_git"]
	path = sfcgal_git
	url = https://github.com/Oslandia/SFCGAL.git
